body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    /* font-family: 'Raleway', sans-serif; */
}

.no-scroll{
    overflow: hidden;
    // visibility: hidden;
    // pointer-events: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
    display: block;
    font-family: inherit;
}

a {
    color: inherit;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

