  $first-title-color: #ffffff;
  $secondary-title-color: #303030;

  $pre-title--color-light: rgba(157, 164, 189, 0.6);
  $after-title--color-light: #9DA4BD;
  $pre-title--color-dark: #303030;

  $accent-color: #ff6c00;
  $first-btn-color: #ffffff;
  $secondary-btn-color: #303030;

  $form-invalid: #FF0000;

  $bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), 
    rgba(25, 28, 38, 0.2));

    $prices-bg-color:  rgba(17, 19, 25, 1); 
    $prices-list-second-bg: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    $prices-list-first-bg: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    $contacts-bg-color: rgba(25, 28, 38, 1);

    $barbers-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
;
//   margin
  $typical-margin: 20px;
  $title-margin: 44px;
