.about__container {
    display: flex;
    gap: 30px;
}

.picture-list {
    display: none;
    @include tablet {
        display: block;
        @include flex-basis(2, 30px);
    }
    @include desktop {
    display: flex;
    }
}

.picture-list__item:not(:last-child){
    @include max-tablet{
        margin-bottom: 30px;
    }
    @include desktop{
        margin-right: 30px;
    }
}

.picture-list__img{
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
        height: auto;
}

.about__content {
    @include tablet{
    @include flex-basis(2, 30px);
    //   max-width: 330px;
    //   @include desktop {
    //     max-width: 470px;
      }
}


.about__pre-title {
    margin-bottom: $typical-margin;
   
}

.about__title {
    margin-bottom: $typical-margin;
    color: $secondary-title-color;
    @include fonts(700, 28, 1.2, 0.05em);
    @include desktop{
    @include fonts(700, 42, 1.2, 0.05em);
    }
    
}

// .about__wrap-text{
//     flex: 1 0 auto;
// }

.about__after-title {
    margin-bottom: $typical-margin;
    color: #555555;
}

.about__text {
    margin-bottom: 42px;
    @include fonts(null, 14, 1.86);
    color: #555555;
}

