.barbers {
    background: #f7f7f7;
}

.barbers__pre-title {
    margin-bottom: $typical-margin;
    color: $secondary-title-color;
}

.barbers__title {
    margin-bottom: $title-margin;
    color: $secondary-title-color;
}

.barbers__thumb-overlay {
    position: relative;
    overflow: hidden;
    & > img {
            display: block;
            width: 100%;
            height: 100%;
        }
}

.barbers__overlay {
    position: absolute;
    top: 0;
    padding: 40px;
    width: 100%;
    height: auto;
    background-color: #e4711f93;
    color: $first-title-color;

    // transform: translateY(-100%);
    transform: scale(0) rotate(0deg);
    @include transition ();
    transition-property: transform;

    .barbers__item:hover & {
            height: 100%;
            overflow: hidden;
            // transform: translateY(0);
            transform: scale(1) rotate(360deg);
        }
}


.barbers__list {
    @include desktop{
    display: flex;
    flex-wrap: wrap;
    
}
}

.barbers__content {
    padding: 30px;
}

.barbers__item {
    box-shadow: $barbers-box-shadow;
    border-radius: 0 0 4px 4px;
    @include max-tablet{
        &:not(:last-child) {
                margin-bottom: 64px;
            }
    }
    @include desktop{
    &:not(:last-child){
       margin-right: 30px;
    }
    }
}

.barbers__item-title {
    margin-bottom: 8px;
    @include fonts(null, 18, 1.4);
    @extend %centered;
    color: $secondary-title-color;
}

.barbers__item-text {
    margin-bottom: 30px;
    @include fonts(null, 14, 1.4);
    @extend %centered;
    color: $accent-color;
}

