.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__container {
  display: flex;
  @include max-mobile{
  flex-direction: column-reverse;
  }
  @include tablet{
  justify-content: space-between;
  align-items: center;
  }
}

.footer__text {
  @include max-mobile{
  align-self: flex-start;
  }
 @include fonts(600, 11, 1.36);
  color: #9da4bd;
}

.footer__list {
  @include max-mobile {
      align-self: flex-start;
    }
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 20px;
  &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: currentColor;
    }
}
.footer__link {
    @include fonts(600, 11, 1.36);
    color: $secondary-title-color;
    @include transition ();
    transition-property: color, background-color;
      &:focus,
      &:hover {
        color: $accent-color;
      }
       &:focus .footer__list::before,
       &:hover .footer__list::before {
        background-color: currentColor;
      }
}

.footer__item:not(:last-child) {
  margin-right: 40px;
}