// 
.mobile-menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include tablet {
    display: none;
  }
}

.menu-open {
  margin-left: auto;
  }


.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  
  width: 70vw;
  height: 100vh;
  z-index: 2;
  background-color: $first-title-color;

    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
    @include transition();
    transition-property: opacity, visibility, transform;

    @media screen and (max-height: 500px) {
      overflow-y: scroll;
    }

    @include max-mobile {
      display: block;
      &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-100%);
    @include transition();
    transition-property: opacity, visibility, transform;
      }
    }
        @include tablet {
          display: none;
        }
}

.mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 31px 48px 40px;
    overflow: auto;
  }



.menu-close {
  margin-left: auto;
  display: block;
  margin-bottom: 30px;
}

.mobile-menu__icon-burger{
    fill: $first-btn-color;
}

.mobile-menu__icon-cross{
    stroke: $secondary-btn-color;
}

.mobile-menu__burger:focus > .mobile-menu__icon-burger,
.mobile-menu__burger:hover > .mobile-menu__icon-burger {
      fill: $accent-color;
      @include transition();
      transition-property: fill;
    }

.mobile-menu__cross:focus > .mobile-menu__icon-cross, 
.mobile-menu__cross:hover > .mobile-menu__icon-cross {
      fill: $accent-color;
      stroke: $accent-color;
      @include transition();
      transition-property: fill;
    }


.mobile-menu__list {
  margin-bottom: 50px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__link {
  @include pre-mobile {
      font-size: 3vw;
    }
    @include fonts(600, 18, 1.4, 0.1em);
    color: $secondary-title-color;
    @include transition();
    transition-property: color;
    
      &:focus,
      &:hover {
        color: $accent-color;
      }
}

.mobile-menu__connect {
  margin-bottom: 64px;
}

.mobile-menu__tel {
  @include pre-mobile {
      font-size: 3vw;
    }
  @include fonts(600, 18, 1.4, 0.1em);
  color: $secondary-title-color;
  @include transition();
    transition-property: color;
  
    &:focus,
    &:hover {
      color: $accent-color;
    }
}

.mobile-menu__btn {
  @include pre-mobile {
      font-size: 3vw;
    }
  display: block;
  margin-top: 24px;
}

.mobile-soc-list {
  padding-left: 100px;
  position: relative;
}

.mobile-soc-list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  height: 1px;
  background-color: $secondary-title-color;
}
.mobile-soc-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-soc-list__link {
  @include pre-mobile {
      font-size: 3vw;
    }
    @include fonts(600, 14, 1.4);
    color: $secondary-title-color;
    @include transition();
    transition-property: color;
    
      &:focus,
      &:hover {
        color: $accent-color;
      }
}
