.backdrop {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #aeacab5f;
    @include transition ();
    transition-property: opacity, visibility;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:3;
    
    max-width: 500px;
    width: 100%;
    min-height: 609px;
    padding: 40px;

    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    @include transition();
    transition-property: min-height;
    @include desktop {
            max-width: 528px;
            width: 100%;
            min-height: 581px;
        }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
    min-height: 0;
}


.modal__button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
    @include circle(25, 25, 50%);
   
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $secondary-btn-color;
    @include transition();
    transition-property: border-color background-color;
}

.modal__button-close:focus,
.modal__button-close:hover {
    border-color: $accent-color;
    background-color: $accent-color;
}

.modal__icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);

    width: 20px;
    height: 20px;

    .modal__button-close:focus > &,
    .modal__button-close:hover > & {
            fill: $first-btn-color;
            @include transition();
            transition-property: fill;
        }

}

// modal form

.modal__title {
    @include fonts(600, 20, 1.67);
    color: $secondary-title-color;
    text-align: center;
    margin-bottom: 15px;
}


.modal-form__field {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 30px;
    color: $secondary-title-color;
    font-size: 14px;
}

.modal-form__input {
    width: 100%;
    height: 45px;
    padding: 8px;
    padding-left: 35px;
    outline: 1px solid $secondary-title-color;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    @include transition();
    transition-property: border-color;
    &:focus,
    &:focus-visible,
    &:hover {
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: $accent-color;
}
}

.modal-form__label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    .modal-form__input:focus-within + &,
    .modal-form__input:not(:placeholder-shown) + &,
    .modal-form__input:checked + & {
            transform: translateY(-45px) translateX(-30px);
            color: $accent-color;
            @include transition();
            transition-property: transform;
        }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    display: block;
    width: 15px;
    height: 15px;
    .modal-form__field:focus-within > &,
    .modal-form__input:not(:placeholder-shown) > & {
        fill: $accent-color;
        @include transition();
        transition-property: transform;
    }
}

.modal-form__input:not(:focus):not(:placeholder-shown):valid {
    outline: none;
    outline: 1px solid $accent-color;
    & + .modal-form__label {
            color: $accent-color;
        }
    & ~ .modal-form__icon {
            fill: $accent-color;
        }
}

.modal-form__input:not(:focus):not(:placeholder-shown):invalid {
    outline: 1px solid $form-invalid;
    box-shadow: 0px 0px 5px $form-invalid;
    & + .modal-form__label {
        color: $form-invalid;  
    }
    & ~ .modal-form__icon{
        fill: $form-invalid;
        }
}

.modal-form__comment{
position: relative;

display: flex;
flex-direction: column;
margin-top: 0;
margin-bottom: 30px;
color: $secondary-title-color;
font-size: 14px;
}

.modal-form__textarea {
    width: 100%;
    height: 100px;
    border: 1px solid $secondary-title-color;
    background-color: transparent;
    resize: none;
    padding: 10px;
    @include transition();
    transition-property: border-color;
    &:focus,
    &:focus-visible,
    &:hover,
    &:not(:focus):not(:placeholder-shown):valid {
            border-width: 1px;
            border-style: solid;
            border-color: $accent-color;
}
}

.modal-form__label-comment{
    position: absolute;
    top: 0;
    left: 0;

    margin-left: 10px;
    .modal-form__textarea:focus-within + &,
    .modal-form__textarea:not(:placeholder-shown) + & {
        transform: translateY(-20px);
        margin-bottom: 5px;
        margin-left: 0;
        color: $accent-color;
        @include transition();
        transition-property: transform;
    }
}


// policy agreement
.policy{
    display: flex;
    align-items: center;
    color: $secondary-title-color;
    @include fonts (null, 14, 1.2);
    margin-bottom: 30px;
}

.policy__label {
    cursor: pointer;
}

.policy__icon {
        display: block;
        margin-right: 7px;
}

.policy__icon-square{
    opacity: 1;
    fill: currentColor;
}

.policy__icon-check {
    opacity: 0;
}

.policy__checkbox:checked + * .policy__icon-square {
    opacity: 0;
    @include transition();
    transition-property: opacity;
}

.policy__checkbox:checked + * .policy__icon-check{
    opacity: 1;
    @include transition();
    transition-property: opacity;
}

.policy__link {
    position: relative;
    color: $accent-color;
}

.policy__link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: currentColor;
    @include transition();
    transition-property: width;
}

.policy__link:hover:after {
    width: 0;
}

.form__btn{
    margin: 0 auto;
}