.contact-wrap {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}
.contact-bg{
    background-color: $contacts-bg-color;
    &::after{
        // @include desktop {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 2;
        // width: calc(50% - 15px);
        background-image: url(../img/contacts/contacts-bg-desk-min.png);
        background-repeat: no-repeat;
        background-size: cover;
        @include retina {
        background-image: url(../img/contacts/contacts-bg-desk@2x-min.png);
    }
         }
 }


.wrap-container {
    @include desktop {
        display: flex;
    }
}

.online {
    @include flex-basis(2, 30px);
    padding-left: 16px;
}

.online__title {
    margin-bottom: $title-margin;
    color: $first-title-color;
    text-align: center;
    @include tablet{
        text-align: left;
    }
}

.input-wrap {
    margin-bottom: $title-margin;
    @include tablet{
    display: flex;
    align-items: center;
    gap: 30px;
    }
}

.form__field {
    margin-bottom: $title-margin;
    @include flex-basis(2, 30px);
}
.form__input {
        width: 100%;
        padding: 8px;
        @include fonts (600, 11, 1.4, 0.1em);
        color: $first-title-color;

        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        @include transition();
        transition-property: color;
        &:focus,
        &:hover{
            border-bottom: 1px solid $first-title-color;
        }
                 &:focus::placeholder,
                 &:hover::placeholder {
                     color: $first-title-color;
                 }
    }

.form__input::placeholder {
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
}

.form__textarea {
    width: 100%;
    min-height: 76px;
    resize: none;
    @include fonts (600, 11, 1.4, 0.1em);
    color: $first-title-color;
    background-color: transparent;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(157, 164, 189, 0.4);
    @include transition();
    transition-property: border-bottom-color;
        &:focus,
        &:hover {
            border-bottom-width: 1px;
            border-bottom-style: solid; 
            border-bottom-color: $first-title-color;
        }
        &:focus::placeholder,
        &:hover::placeholder {
            color: $first-title-color;
 }
}

.form__textarea::placeholder {
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
}