.prices {
    max-width: 1600px;
    margin: 0 auto;
    background-color: $prices-bg-color;
    background-image: url(../img/prices/prices-bg-mob-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include retina {
        background-image: url(../img/prices/prices-bg-mob@2x-min.png);
    }
    @include tablet {
        background-image: url(../img/prices/prices-bg-tab-min.png);
        @include retina {
            background-image: url(../img/prices/prices-bg-tab@2x-min.png);
        }
    }
    @include desktop {
        background-image: url(../img/prices/prices-bg-desk-min.png);
        @include retina {
            background-image: url(../img/prices/prices-bg-desk@2x-min.png);
        }
    }
}

.prices__pre-title {
    margin-bottom: $typical-margin;
}

.prices__title {
    margin-bottom: 44px;
    @include fonts(700, 40, 1.2, 0.05em);
    color: $first-title-color;
    @include tablet{
        @include fonts(700, 42, 1.7, 0.05em);
    }
}

.prices__wrap {
    margin-bottom: 44px;
    @include max-tablet{
    background: $prices-list-first-bg;
    padding: 30px 20px;
    }
    @include desktop {
    display: flex;
    justify-content: space-between;
}
}

.table-list {
    @include max-tablet{
    &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    @include desktop {
        @include flex-basis(2, 30px);
    &:first-child {
            background: $prices-list-first-bg;
        }
        &:last-child {
            background: $prices-list-second-bg;
        }
}
}

.table-list__item {
    @include fonts(null, 14, 1.4);
   
    @include tablet{
        @include fonts(null, 18, 1.7);
    }
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &::before {
            content: '';
            display: flex;
            margin-right: 12px;
            margin-left: 12px;
            width: 100%;
            height: 1px;
            flex-grow: 1;
            background: rgba(157, 164, 189, 0.12);
        }
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.table-list__item-text {
    flex-shrink: 0;
    color: #9da4bd;

    &:first-child {
            order: -1;
        }
}

.prices__button {
    display: block;
    margin: 0 auto;
}